
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mern{
  width: 490px;
  height: 490px;
  opacity: 90%;
  margin-left: 37%;
  background-color: aliceblue;
 margin-bottom: 15px;
 border-radius: 30px;
 box-shadow: 2px 2px;
}


.main{

  width: 70%;
  margin: auto;
  border-radius: 15px;
 
}

h1{
  font-size: 40px;

}

body{
  background-color: whitesmoke
}

